html, body{
    width:100%;
    height:100%;
    display: flex;
    overflow: hidden;
    margin:0;
}

body::before { 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-image: url("../img/bg2.jpg");
    background-size: cover; 
    filter: blur(5px); 
    transform: scale(1.02); 
    z-index: -1; 
    content: ""; }

    body.changed::before { 
        position: fixed; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        background-image: url("../img/bg2.jpg");
        background-size: cover; 
        filter: blur(0px); 
        transform: scale(1.02); 
        z-index: -1; 
        content: "";
        margin:0;
        padding:0;
    }





#wrap{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contents{
    width:30%;
    height:60%;
    display:flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}

.profile{
    width:100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img{
    width:40%;
    height: auto;
    border-radius: 250px;
    background-size: cover;
}

.profile-img>img{
    max-width:100%;
    height: auto;
    border-radius: 250px;
}

.login{
    width:100%;
    height: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.name{
   color:white; 
   font-size: 3.5vw;
}


.login-btn{
    width:30%;
    height:25%;
    background-color: rgba(255,255,255,0.4);
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    cursor:pointer;
}

.login-btn:hover{
    border:solid 1px #fff;
}

.welcome{
    width:100%;
    height:25%;
    display:none;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    color:#fff;
}

/* 로딩 ----------------------*/
.loader {
    color: #ffffff;
    font-size: 30px;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 30px;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  /* 로딩 끝--------------*/


#wrap2{
    width:100%;
    height: 100%;
    display:none;
    flex-direction: column;
}

#contetns2{
    width:100%;
    flex:1;
}

#header{
    width:100%;
    height: 40px;
    background-color: rgba(50, 50, 50, 0.9);
    display: flex;
    justify-content: space-between;
}


#header-left{
    width:auto;
    height: 100%;
}

.window{
    width:2vw;
    height: 100%;
    color:#fff;
    font-size: 1.1vw;
    padding-left:7px;
    padding-right:7px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.window:hover{
    background-color: rgba(99, 98, 98, 0.9);
    color: rgb(0, 174, 255);
}

#header-right{
    width:30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.clock{
    width: auto;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:15px;
}

.clock:hover{
    background-color: rgba(99, 98, 98, 0.9);
}

#usingFunction{
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    margin-left:8px;
    padding-right:8px;
    font-size: 0.9vw;
}

.weather{
    width:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.weather:hover{
    background-color: rgba(99, 98, 98, 0.9);
}

.CurrTemp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:15px;
    margin-left:8px;
    font-size:0.9vw;
}

.CurrIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:15px;
  font-size:0.9vw;
}

#contents2{
  width:100%;
  flex : 1;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* 설치 창 */
.install{
  display:flex;
  flex-direction: column;
  width:70%;
  height:70%;
  background-color: #fff;
  border-radius: 2px;
}

.install-info{
  display:flex;
}

.profile-con{

}
